body {
    background-color: black;
    font-family: arial;
    color: white
}

h1{
    color: grey;
    font-family: verdana
}

.main-div {
    background-color: white;
    font-weight: 550;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}

td {
    padding: 6px;
}

.col-0 {
    width: 150px;
}

.col-1 {
    width: 200px;
}

.col-2 {
    width: 300px;
}

.col-3 {
    width: 500px;
}

table {
    border: none;
    text-align: left;
}